<!-- <p *ngIf="(state$ | async)?.loading; else ifNotLoading">CARGANDO DATA...</p>

<ng-template #ifNotLoading>

  <button (click)="crearInscripcion()" type="button" mat-button >Crear inscripcion</button>

  <ul>
    <li *ngFor="let inscripcion of (state$ | async)?.inscripciones">
      {{ inscripcion.student.nombre + ' - ' + inscripcion.subject.nombre }}
      <button (click)="eliminarInscripcionPorId(inscripcion.id)" mat-icon-button color="warn" type="button">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</ng-template> -->
<button (click)="crearInscripcion()" type="button" mat-button color="primary" >Crear inscripcion</button>

<ng-container *ngIf="state$ | async as state">
  <mat-table [dataSource]="state.inscripciones">
    <!-- Columna de Nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let inscripcion"> {{ inscripcion.student.nombre }} </mat-cell>
    </ng-container>

    <!-- Columna de Acciones -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let inscripcion">
        <button mat-icon-button color="warn" (click)="eliminarInscripcionPorId(inscripcion.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <!-- <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> descripcion </mat-header-cell>
      <mat-cell *matCellDef="let inscripcion">
        <button mat-icon-button color="warn" (click)="eliminarInscripcionPorId(inscripcion.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <!-- Definición de las columnas -->
    <mat-header-row *matHeaderRowDef="['nombre', 'acciones']"></mat-header-row>
    <mat-row *matRowDef="let fila; columns: ['nombre', 'acciones']"></mat-row>
  </mat-table>
</ng-container>


<ng-template #ifNotLoading>
  <button (click)="crearInscripcion()" type="button" mat-button >Crear inscripcion</button>
</ng-template>
